<app-header [titulo]="titulo"></app-header>

<ion-content padding color="medium"  fullscreen="fullscreen">

  <form [formGroup]="myForm" #formulario="ngForm" novalidate>

    <ion-grid *ngIf="validacionSolicitudes">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Centro:</ion-label>
            <ion-select (ionChange)="cargarSolicitudes()"  cancelText="Cancelar" interface="action-sheet" formControlName="centro" name="centro"
              placeholder="Listado de centros del usuario">
              <ion-select-option *ngFor="let centro of usuario.centros" [value]="centro.PidDireccionTercero">
                {{ centro.Nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="validacionSolicitud.length > 0">
          <!-- <ion-item lines="none">
            <ion-label>Solicitudes</ion-label>
          </ion-item> -->
          <ion-grid class="tabla">
            <ion-row class="cabecera">
              <ion-col size="2">
                Solicitud
              </ion-col>
              <ion-col size="2">
                Fecha Solicitud
              </ion-col>
              <ion-col size="6">
                Operador
              </ion-col>
              <ion-col size="2">
                Estado
              </ion-col>
            </ion-row>
            <ion-row class="filas" [ngClass]="{'marcada': i == listaEtiqueta}" text-center *ngFor="let item of validacionSolicitud; let i = index;" (click)="detalleEtiquetaValidacion(i)">
              <ion-col size="2">
                <span>{{ item.cod }}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{ item.fechaSolicitud | cortarFecha}}</span>
              </ion-col>
              <ion-col size="6">
                <span>{{ item.nombreTerceroAsignado }}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{ item.est }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col *ngIf="validacionSolicitud.length > 0" text-center size="12">
          <ion-button class="boton" [disabled]="!detalleEtiquetakBtn" style="max-width: 75%;" (click)="atender()">
            Marcar como atendida
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid *ngIf="consultaSolicitudes">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Centro:</ion-label>
            <ion-select (ionChange)="cargarSolicitudes()"  cancelText="Cancelar" interface="action-sheet" formControlName="centro" name="centro"
              placeholder="Listado de centros del usuario">
              <ion-select-option *ngFor="let centro of usuario.centros" [value]="centro.PidDireccionTercero">
                {{ centro.Nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col style="padding: 2% 0;">
          <ion-grid class="tabla" *ngIf="solicitudes.length > 0">
            <ion-row text-center class="cabecera">
              <ion-col size="2">
                Solicitud
              </ion-col>
              <ion-col  size="2">
                Fecha Solicitud
              </ion-col>
              <ion-col  >
                Operador
              </ion-col>
              <ion-col  size="2">
                Estado
              </ion-col>
              <ion-col  size="2">
                Fecha Recogida
              </ion-col>
            </ion-row>
            <ion-row class="filas" [ngClass]="{'marcada': i == listaEtiqueta}" text-center *ngFor="let solicitud of solicitudes;let i = index;" (click)="detalleEtiqueta(i)">
                <ion-col size="2">
                <span>{{ solicitud.cod }}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{ solicitud.fechaSolicitud | cortarFecha }}</span>
              </ion-col>
              <ion-col >
                <span>{{ solicitud.nombreTerceroAsignado }}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{solicitud.est}}</span>
              </ion-col>
              <ion-col size="2">
                <span>{{ solicitud.fechaRecogida | cortarFecha }}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col *ngIf="solicitudes.length > 0" size="12" text-center>
          <ion-button class="boton" [disabled]="!detalleEtiquetakBtn" (click)="verDetalle()">
            Ver detalle
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>

<ion-footer no-border>
    <ion-buttons>
      <ion-button class="izquierda" style="padding-left: 15px;" (click)="atras()">
        <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
      </ion-button>
    </ion-buttons>
    <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>