ion-icon{
    font-size:10vw !important;
}
ion-buttons ion-button{
    font-size: 20px;
}
form ion-buttons{
    height: 100%;
    position:relative;
    margin-left: 10%;
}
form ion-buttons ion-button{
    position: relative;
    bottom: -10px;
    font-size: 25px;
}
ion-col{
    font-size: 2.5vw;
}
.cabecera ion-col {
    font-size: 2.5vw;
    font-weight: bold;
}
.ios .cabecera ion-col{
    font-size: 2vw;
}
.boton {
    min-width: 50%;
    max-width: 50%;
    font-size: 4vw !important;
    min-height: 6vh;
}
.fila{
    margin-top: 5% !important;
}
.fila ion-label{
    margin-bottom: 5% !important;
}
.marcada{
    background: grey !important;
}
ion-button{
    font-weight: bold;
}
.filas{
    height: 8vw;
    position: relative;
}
.cabecera ion-col{
    text-align: center!important;
}
.filas span{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}