<app-header titulo="Identificación de RAEE"></app-header>

<ion-content padding color="medium"  fullscreen="fullscreen">

  <form [formGroup]="myForm"  #formulario="ngForm" novalidate>
    <ion-grid>
      <ion-row *ngIf="primeraPagina">
        
        <ion-col size="12" *ngIf="usuario.centros">
          <ion-item lines="none">
            <ion-label position="floating">Centro:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet" formControlName="centro" name="centro" placeholder="Listado de centros del usuario">
              <ion-select-option *ngFor="let centro of usuario.centros" [value]="centro.PidDireccionTercero">{{ centro.Nombre }}</ion-select-option> 
            </ion-select>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('centro').hasError('required') && myForm.get('centro').touched;">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>    

        <ion-col size="8">
          <ion-item lines="none">
            <ion-label position="floating">Albarán de Venta:</ion-label>
            <ion-input type="text"  formControlName="albaran" name="albaran"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-buttons>
              <ion-button (click)="limpiar('albaran')" >
                <i class="far fa-trash-alt"></i>
              </ion-button>
              <ion-button (click)="lector('albaran')">
                <i class="fas fa-barcode"></i>
              </ion-button>
            </ion-buttons> 
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('albaran').hasError('maxlength')">{{ 'FORMULARIO.LONGITUDMAX' | translate:{value : '100'} }}</p>
        <p class="error" ion-text *ngIf="myForm.get('albaran').hasError('required') && myForm.get('albaran').touched;" >{{ 'FORMULARIO.REQUERIDO' | translate }}</p>    

        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" formControlName="nombre" name="nombre"></ion-input>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('nombre').hasError('maxlength')">{{ 'FORMULARIO.LONGITUDMAX' | translate:{value : '100'} }}</p>
        <p class="error" ion-text *ngIf="myForm.get('nombre').hasError('required') && myForm.get('nombre').touched;">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>   


        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">DNI:</ion-label>
            <ion-input type="text" formControlName="dni" name="dni"></ion-input>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('dni').hasError('pattern')">* Debe ser un DNI válido</p>
        <p class="error" ion-text *ngIf="myForm.get('dni').hasError('required') && myForm.get('dni').touched;">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>   

        <!-- <ion-col size="12" class="firma">
          <ion-item lines="none">
            <ion-label position="floating">Firma:</ion-label>
            <ion-button fill="clear" (click)="abrirFirma()" >
              <img id="fima" [src]="firma" *ngIf="firma"/>
            </ion-button>
          </ion-item>
        </ion-col> -->
        
      </ion-row>

      <ion-row *ngIf="segundaPagina">
      
        <ion-col size="8">
          <ion-item id="etiqueta" lines="none" style="--ion-padding-end">
            <ion-label position="floating">Etiqueta:</ion-label>
            <ion-input  (ionChange)="comprobar()" type="text" formControlName="etiqueta" name="etiqueta"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-buttons>
              <ion-button style="width: 40px">
                <ion-icon *ngIf="readStatus == 1" name="checkmark-circle-outline" style="color: lightgreen"></ion-icon>
                <ion-icon *ngIf="readStatus == 2" name="close-circle-outline" style="color: crimson"></ion-icon>
              </ion-button>
              <ion-button (click)="limpiar('etiqueta')">
                <i class="far fa-trash-alt"></i>
              </ion-button>
              <ion-button (click)="lector('etiqueta')">
                <i class="fas fa-barcode"></i>
              </ion-button>
            </ion-buttons> 
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('etiqueta').hasError('pattern')">{{ 'FORMULARIO.LONGITUD' | translate:{value : '17'} }}</p>
        <p class="error" ion-text *ngIf="myForm.get('etiqueta').hasError('required') && myForm.get('etiqueta').touched;">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>   
      </ion-row>
      <ion-row *ngIf="!existeEtiqueta && segundaPagina">
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Residuo:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet"  formControlName="residuo" name="residuo" placeholder="Listado de residuos">
              <ion-select-option *ngFor="let residuo of usuario.residuos" [value]="residuo.Id">{{ residuo.Nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col> 
        <p class="error" ion-text *ngIf="myForm.get('residuo').hasError('required')">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>   

        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Marca:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet" formControlName="marca" name="marca" placeholder="Listado de marcas">
              <ion-select-option *ngFor="let marca of usuario.marcas" [value]="marca.PidMarca">{{ marca.Nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('marca').hasError('required') && myForm.get('marca').touched;">{{ 'FORMULARIO.REQUERIDO' | translate }}</p>   

        <ion-col size="8">
          <ion-item lines="none">
            <ion-label position="floating">Num serie:</ion-label>
            <ion-input type="text" formControlName="numSerie" name="numSerie"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-buttons>
              <ion-button (click)="limpiar('numSerie')">
                <i class="far fa-trash-alt"></i>
              </ion-button>
              <ion-button (click)="lector('numSerie')">
                <i class="fas fa-barcode"></i>
              </ion-button>
            </ion-buttons> 
        </ion-col>
        <ion-item lines="none" *ngIf="myForm.get('numSerie').errors && myForm.get('numSerie').dirty">
          <p class="error" ion-text *ngIf="myForm.get('numSerie').hasError('maxlength')">{{ 'FORMULARIO.LONGITUDMAX' | translate:{value : '50'} }}</p>
        </ion-item> 

        <ion-col size="6" style="margin-top: 3%;">
            <ion-item lines="none">
                <ion-label class="toggleLabel">Funciona</ion-label>
                <ion-toggle name="funciona" formControlName="funciona"></ion-toggle>
            </ion-item>
        </ion-col>
        <ion-col size="6" style="margin-top: 3%;">
            <ion-item lines="none">
                <ion-label class="toggleLabel">Canibalizado</ion-label>
                <ion-toggle  name="canibalizado" formControlName="canibalizado"></ion-toggle>
            </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="imagenes.length > 0">
          <ion-list>
            <ion-item class="listImg" lines="none" *ngFor="let imagen of imagenes; let i = index;">
               <ion-avatar slot="start" (click)="verImagen(imagen)"> 
                 <img [src]="imagen">
              </ion-avatar>
               <ion-buttons profile-button  slot="end">
                  <ion-button (click)="eliminarImg(i)">
                      <i class="far fa-trash-alt"></i>
                   </ion-button>   
               </ion-buttons>             
            </ion-item>
          </ion-list>
        </ion-col>  
      </ion-row>
      
    </ion-grid>

  </form>

</ion-content>

<ion-footer no-border>
      <ion-buttons >
        <ion-button class="izquierda" style="padding-left: 15px;" (click)="atras()">
          <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
        </ion-button>
        <ion-button [disabled]="imagenes.length == 3" (click)="obtenerFoto()" class="centrar" *ngIf="!primeraPagina">
            <ion-icon  name="camera"></ion-icon>
        </ion-button>
        <ion-button [disabled]="myForm.invalid" (click)="guardar()" class="derecha" *ngIf="!primeraPagina">
            <ion-icon mode="ios"  name="save"></ion-icon>
        </ion-button>
        <ion-button  class="derecha" *ngIf="primeraPagina" [disabled]="!primeraPagianValida" (click)="siguiente()">
          <span><ion-img src="../../assets/img/Derecha.png"></ion-img></span>
        </ion-button>
      </ion-buttons>
      <img src="../../../assets/img/logo-ecolec.png">
  </ion-footer>