ion-toggle{
    position: absolute;
    top: -3px;
}

ion-icon{
    font-size: 10vw !important;
}
ion-buttons ion-button{
    font-size: 20px;
}

form ion-buttons{
    height: 100%;
    position:relative;
    margin-left: 10%;
}
form ion-buttons ion-button{
    position: relative;
    bottom: -23%;
    font-size: 5vw;
    height: 5vh;
}

ion-item{
    font-size: 4vw !important;
    background: white;
    margin-top: 9px
}
.canibalizado{
    margin: 5% 0;
}
.canibalizado ion-toggle{
    top : 0 !important;
    margin-top: 3px;
}