<app-header  [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">

  <form [formGroup]="myForm" #formulario="ngForm" novalidate>
    <ion-grid>

      <ion-row *ngIf="myForm.value.id">

        <ion-col size="12">
          <ion-label>Contraseña Actual:</ion-label>
          <ion-input type="password" class="ion-no-margin mb-2" formControlName="ActualPassword"></ion-input>
        </ion-col>

        <ion-col size="12">
          <br>
          <ion-label>Nueva Contraseña:</ion-label>
          <ion-input type="password" class="ion-no-margin mb-2" formControlName="Password"></ion-input>

          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Password">
                <div class="error-message" *ngIf="myForm.get('Password').hasError(validation.type) && (myForm.get('Password').dirty || myForm.get('Password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

          <br>
        </ion-col>

        <ion-col size="12">
          <ion-label>Repetir Contraseña:</ion-label>
          <ion-input type="password" class="ion-no-margin mb-2" formControlName="RepeatPassword"></ion-input>

          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.RepeatPassword">
                <div class="error-message" *ngIf="myForm.get('RepeatPassword').hasError(validation.type) && (myForm.get('RepeatPassword').dirty || myForm.get('RepeatPassword').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
        </ion-col>

      </ion-row>

      <br>

      <div style="text-align: center;">
        <ion-button [disabled]="!myForm.valid" (click)="cambioPassword()" class="ecobtn">Guardar</ion-button>
      </div>


    </ion-grid>
  </form>

</ion-content>

<ion-footer no-shadow no-border>
        <ion-buttons>
            <ion-button class="izquierda" (click)="atras()">
                <!-- <ion-icon  name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
        </ion-buttons>
        <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>