<ion-content color="medium"> 
    <signature-pad [options]="signaturePadOptions" id="#signatureCanvas"></signature-pad>
</ion-content>

<ion-footer style="padding-bottom: 12% !important;"  no-border>

    <ion-grid>
        <ion-row>
            <ion-col size="10">
            <span *ngIf="usuario.tercero.WtkTextoLopd">{{ usuario.tercero.WtkTextoLopd.Texto }}</span>
            </ion-col>
            <ion-col size="1">
                <ion-buttons profile-button end>
                    <ion-button  (click)="drawClear()">
                        <i class="far fa-trash-alt"></i>
                    </ion-button>
                </ion-buttons>
            </ion-col>
            <ion-col size="1">
                <ion-buttons profile-button end>
                    <ion-button  (click)="drawComplete()">
                        <ion-icon  mode="ios" name="save"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>