<app-header [titulo]=" titulo || ' ' "></app-header>

<ion-content color="medium"  fullscreen="fullscreen" padding>

  <form [formGroup]="myForm" #formulario="ngForm" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="usuario.centros">
          <ion-item lines="none">
            <ion-label position="floating">Centro:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet" formControlName="centro" name="centro"
              placeholder="Listado de centros del usuario" (ionChange)="comprobarCentro()">
              <ion-select-option *ngFor="let centro of usuario.centros" [value]="centro.PidDireccionTercero">
                {{ centro.Nombre }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('centro').hasError('required') && myForm.get('centro').touched;">
          {{ 'FORMULARIO.REQUERIDO' | translate }}</p>

        <ion-col size="9">
          <ion-item lines="none">
            <ion-label *ngIf="!estadoSalida" position="floating">Referencia:</ion-label>
            <ion-label *ngIf="estadoSalida" position="floating">Solicitud:</ion-label>
            <ion-input type="text" formControlName="albaran" name="albaran"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-buttons>
            <ion-button (click)="limpiar('albaran')">
              <i class="far fa-trash-alt"></i>
            </ion-button>
            <ion-button (click)="lector('albaran')">
              <i class="fas fa-barcode"></i>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('albaran').hasError('maxlength')">
          {{ 'FORMULARIO.LONGITUDMAX' | translate:{value : '100'} }}</p>
        <p class="error" ion-text *ngIf="myForm.get('albaran').hasError('required')">
          {{ 'FORMULARIO.REQUERIDO' | translate }}</p>

        <ion-col size="9">
          <ion-item lines="none">
            <ion-label position="floating">Etiqueta:</ion-label>
            <ion-input [disabled]="!escribirEtiqueta" (ionChange)="comprobar()" type="text" formControlName="etiqueta" name="etiqueta"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-buttons>
            <ion-button (click)="limpiar('etiqueta')">
              <i class="far fa-trash-alt"></i>
            </ion-button>
            <ion-button [disabled]="!escribirEtiqueta" (click)="lector('etiqueta')">
              <i class="fas fa-barcode"></i>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('etiqueta').hasError('pattern')">
          {{ 'FORMULARIO.LONGITUD' | translate:{value : '17'} }}</p>
        <p class="error" ion-text
          *ngIf="myForm.get('etiqueta').hasError('required') && myForm.get('etiqueta').touched;">
          {{ 'FORMULARIO.REQUERIDO' | translate }}</p>
      </ion-row>

      <ion-row *ngIf="etiquetaValida">
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Residuo:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet" formControlName="residuo" name="residuo"
              placeholder="Listado de residuos">
              <ion-select-option *ngFor="let residuo of usuario.residuos" [value]="residuo.Id">{{ residuo.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('residuo').hasError('required')">
          {{ 'FORMULARIO.REQUERIDO' | translate }}</p>

        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Marca:</ion-label>
            <ion-select cancelText="Cancelar" interface="action-sheet" formControlName="marca" name="marca"
              placeholder="Listado de marcas">
              <ion-select-option *ngFor="let marca of usuario.marcas" [value]="marca.PidMarca">{{ marca.Nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <p class="error" ion-text *ngIf="myForm.get('marca').hasError('required') && myForm.get('marca').touched;">
          {{ 'FORMULARIO.REQUERIDO' | translate }}</p>

        <ion-col size="9">
          <ion-item lines="none">
            <ion-label position="floating">Numero Serie:</ion-label>
            <ion-input type="text" formControlName="numSerie" name="numSerie"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-buttons>
            <ion-button (click)="limpiar('numSerie')">
              <i class="far fa-trash-alt"></i>
            </ion-button>
            <ion-button (click)="lector('numSerie')">
              <i class="fas fa-barcode"></i>
            </ion-button>
          </ion-buttons>
        </ion-col>


        <ion-col style="margin-top: 10px;" size="12">
          <ion-label style="margin-left: 15px;" position="floating">Posible destino:</ion-label>
          <ion-radio-group (ionChange)="destino()" formControlName="destino">
            <ion-item lines="none">
              <ion-label>Reciclaje</ion-label>
              <ion-radio color="dark" checked="true" slot="start" value="Reciclaje"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Preparación para la reutilización</ion-label>
              <ion-radio color="dark" slot="start" value="Reutilizacion"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>

        <ion-col *ngIf="verCanibalizado" size="12">
          <ion-item lines="none">
            <ion-label class="toggle">Canibalizado</ion-label>
            <ion-toggle color="dark" name="canibalizado" formControlName="canibalizado"></ion-toggle>
          </ion-item>
        </ion-col>

        <ion-col size="12" *ngIf="imagenes.length > 0">
          <ion-list>
            <ion-item class="listImg" lines="none" *ngFor="let imagen of imagenes; let i = index;">
              <ion-avatar slot="start" (click)="verImagen(imagen)">
                <img [src]="imagen">
              </ion-avatar>
              <ion-buttons profile-button slot="end">
                <ion-button (click)="eliminarImg(i)">
                  <i class="far fa-trash-alt"></i>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>

</ion-content>

<ion-footer no-border>
    <ion-buttons>
      <ion-button class="izquierda" style="padding-left: 15px;" (click)="atras()">
        <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
      </ion-button>
      <ion-button [disabled]="imagenes.length > 3 || !etiquetaValida" (click)="obtenerFoto()" class="centrar">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
      <ion-button [disabled]="myForm.invalid" (click)="guardar()" class="derecha">
        <ion-icon mode="ios" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>