<app-header  [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">

    <br>

    <ion-row *ngIf="usuario">
        <ion-col size="6"
            *ngIf="(usuario?.responsabilidades | checkResp:'RCR') || (usuario?.responsabilidades | checkResp:'RSR')">
            <ion-button [routerLink]="['/reutilizaciones/nueva-recogida-reutilizacion']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA RECOGIDA <br> DE REUTILIZACIÓN</ion-button>
        </ion-col>

        <ion-col size="6"
            *ngIf="(usuario?.responsabilidades | checkResp:'RCR')">
            <ion-button [routerLink]="['/reutilizaciones/nueva-reutilizacion']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA REUTILIZACIÓN</ion-button>
        </ion-col>


        <ion-col size="6"
            *ngIf="(usuario?.responsabilidades | checkResp:'REP')">
            <ion-button [routerLink]="['/reutilizaciones/nueva-reutilizacion-ent']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA REUTILIZACIÓN <br> ENTREGA</ion-button>
        </ion-col>

        <ion-col size="6"
            *ngIf="(usuario?.responsabilidades | checkResp:'REN')">
            <ion-button [routerLink]="['/reutilizaciones/nueva-reutilizacion-end']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA REUTILIZACIÓN <br> ENTREGA DIRECTA</ion-button>
        </ion-col>

        <ion-col size="6">
            <ion-button [routerLink]="['/reutilizaciones/reutilizaciones-realizadas']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">REUTILIZACIONES <br> REALIZADAS</ion-button>
        </ion-col>

    </ion-row>

</ion-content>

<ion-footer no-shadow no-border>
        <ion-buttons>
            <ion-button class="izquierda" (click)="atras()">
                <!-- <ion-icon  name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
        </ion-buttons>
        <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>