// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #0D553E;

  /** medium **/
 // --ion-color-medium: linear-gradient(135deg, rgba(13,85,62,1) 0%,rgba(13,139,122,1)  27%,rgba(13,139,122,1) 49%,rgba(13,139,122,1) 61%,rgba(13,139,122,1) 100%);
    --ion-color-medium: #0D8B7A;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}



/**/

@font-face{
    font-family: 'Varela Round';
    src : url('../assets/fonts/varelaRound.woff2');
}
[text-center] {
    text-align: center;
}
*{
    font-family: 'Varela Round' !important;
}

ion-icon{
    font-size: 3rem !important;
}

ion-select{
    color: white;
}

/* Footer */

ion-footer{
    height: auto;
}

ion-footer{
    text-align: center;
}

ion-footer ion-icon{
    color: white;
}

ion-footer{
    max-height: 75px;
    height: 50px;
}

ion-footer img{
    // width: 25%;
    padding-bottom: 5px;
    position: relative;
    bottom: 8vh;
    filter: invert(100%);
    width: 100px;
}

.ios ion-footer ion-buttons ion-icon{
    color : black;
}

.ios ion-buttons ion-button{
    color : black;
}
ion-footer ion-buttons{
    height: 9vh;
}
ion-footer ion-button{
    height: auto !important;
    margin: 0 !important;
    top: 50% !important;
    transform: translateY(-50%);
}
ion-footer .izquierda{
    position: absolute;
    top: 25px !important;
    padding-left: 0 !important;
    left: 15px;
}
ion-footer .centrar{
    position: absolute;
    top: 40px !important;
    right: 55px;
}


.toggleLabel{
    display: contents;
}

/* Firma */
signature-pad{
    canvas{
        border: 1px solid black !important;
        width: 90%; height: 75% !important;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        background: white;
    }
}
.modalFirma .modal-wrapper{
    width: 100% !important;
    height: 100% !important;
}

/* Modal visor imagenes */

.modalImg .modal-wrapper{ 
    height: 60% !important;
    width: 80% !important;
}

.derecha{
    position: absolute;
    top:25px !important;
    right: 15px;
}

.centro{
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
}

.toggle{
    display: contents !important;
}
ion-radio{
    margin-right: 5px !important;
}

.tabla{
    border: 1px solid black;
    padding: 0!important
}

// .tabla ion-row:nth-child(odd){
//     background-color: #0D553E;
// }

.tabla ion-row{
    //background-color: rgba(25,229,198,0.7);
    background-color: white;
    margin: 3px;
    color: black;
}

.tabla{
    background: white;
}

.error{
    color: red;
    width: 100%;
}

.cabecera ion-col{
    background-color: white !important;
    color: black;
}

ion-toggle{
    padding: 6px;
}

/* Tablas */
.tabla ion-col{
    font-size: 3vw;
}

.cabecera ion-col {
    font-size: 4vw;
    font-weight: bold;
}


/* Texto Responsivo */
ion-label{
    font-size: 16px !important;
    opacity: 1 !important;
}
form p{
    font-size: 3vw !important;
}
ion-input , ion-select, ion-textarea {
    font-size: 4vw !important;
}

//Corregir scroll ios 
.action-sheet-group.sc-ion-action-sheet-ios {
    overflow: auto !important;
}
button.action-sheet-button.ion-activatable.action-sheet-.sc-ion-action-sheet-md {
    font-size: 15px;
    height: 60px;
}
button.action-sheet-button.ion-activatable.action-sheet-.sc-ion-action-sheet-ios {
    font-size: 15px;
    height: 60px;
}
// Aviso reutilizable
.aviso .alert-wrapper{
    height : 75% !important;
}
.aviso .alert-message{
    min-height: 75% !important;
    font-size: 4vw;
}

ion-list{
    background-color: rgba(0, 0, 0, 0) !important;
}
ion-item{
    --background: transparent !important;
}
ion-footer .imgLogin {
    width: 25%;
    padding-bottom: 5px;
    position: relative;
    bottom: -13px;
    filter: invert(100%);
    max-width: 100px;
}

ion-label{
    color: white !important;
}

.ios ion-label{
    margin: 0px !important;
}

ion-footer , ion-header{
    background: #0D8B7A !important;
    z-index: 150;
}

ion-input , ion-textarea {
    --background: white !important;
    margin-top: 20px !important;
}

ion-select{
    background: white !important;
    margin-top: 20px;
    color: black;
    padding: 9px;
}

.ios ion-input, .ios ion-textarea, .ios ion-selec{
    margin-top : 35px !important;
}

input {
    padding: 9px !important;
    color: #000 !important;
}

.left-label {
    margin: 11px 0;
    display: block;
    font-size: 14px;
}

.keyboard-is-open ion-footer {
    display: none !important;
}

.ios ion-buttons ion-button{
    color: white !important;
}

.ios ion-footer ion-buttons ion-icon {
    color: white;
}

.ios ion-footer{
    padding-bottom: 3%;
}

.ios ion-inpu{
    padding: 0 9px !important;
}

.ios .boton{
    --background-activated: #0a4432;
}
.boton{
    --background: #0D553E;
}

span ion-img{
    width: 12vw;
    height: 11vw;
}

ion-col{
    padding-top: 0!important;
}

ion-item{
    margin-top: 0!important;
}

@media only screen and (min-width: 600px) {
    ion-toggle{
        zoom: 1.5;
    }
    ion-avatar{
        zoom: 1.5;
    }
    .alert-wrapper.sc-ion-alert-md {
        transform: scale(2) !important;
    }
    .aviso .alert-wrapper{
        transform: scale(1) !important;
        min-width: 75%;
    }   
    .aviso .alert-head{
        height: 10%;
        padding: 5%;
    }
    
    .aviso .alert-head h2{
        font-size: 4vw;
    }

    .aviso button{
        font-size: 3vw !important;
    }

  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)  {
      ion-footer{
          min-height: 30px;
      }
      .derecha{
          top:25px !important;
      }
      ion-footer .izquierda{
          top: 25px !important;
      }
      ion-footer img{
          bottom: 26px;
      }
      ion-footer .centrar{
          top: 49px !important;
          right: 120px;
      }
  }
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .derecha{
        top:30px !important;
    }
    ion-footer .izquierda{
        top: 25px !important;
    }
    ion-footer img{
        bottom: 55px;
    }
}

.ecobtn {
    --background: #284e15 !important;
    height: 60px;
}

.ion-no-margin
{
    --margin-start: 0 !important;
    --margin-end: 0 !important;
    --margin-top: 0 !important;
    --margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: 8px !important;
}

ion-modal.selectGestor {
  --height: 50%;
  --width: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal.selectGestor::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal.selectGestor ion-toolbar {
  --background: #284e15;
  --color: white;
}

.alert-radio-label.sc-ion-alert-md {
  // white-space: normal !important;
  font-size: 13px;
}

.alert-tappable.sc-ion-alert-md {
    height: 10vh;
}

.floating-text {
    border: none; 
    background-color: transparent;
    input {
        color: #fff !important;
    }
}

ion-datetime {
    color: #333 !important;
}

.no-ripple {
  --ripple-color: transparent;
}

.no-ripple:active {
    // ion-icon {
        background-color: rgba(255,255,255,.3);
    // }
}

.searchbar-input {
    padding-left: 55px !important;
    border-radius: 50px !important;
}

.select2 {
  width: 100% !important;
  margin-bottom: 8px !important;
}

.select2-selection {
  padding: 4px !important;
  height: 37.2px !important;
  border-radius: 0 !important;
}

.select2-selection__arrow {
  top: 6px !important;
}

.select2-results__option {
    color: #000 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #fff !important;
}

[name="search-outline"] {
    color: #fff;
}