<app-header  [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">

  <div *ngIf="tipooperativa == 'END'">
    <div *ngIf="showList">
      
      <ion-grid>

        <ion-searchbar placeholder="Buscar Gestor" [(ngModel)]="query"></ion-searchbar>

        <ion-row>
          <ion-col size="12" class="ion-no-padding" style="background-color: #fff; height: 45vh; overflow: auto;">

              <table style="width: 100%; text-align: left;">
                  
                  <thead style="font-size: 14px;">
                      <tr>
                          <th>Gestor</th>
                      </tr>
                  </thead>

                  <tbody style="font-size: 10px;">
                      <tr *ngFor="let l of listadoGestores | search:query" [ngClass]="{'trselected': (selected == l.pidTercero)}" (click)="seleccionar(l)">
                          <td>{{l.nombre}}</td>
                      </tr>
                  </tbody>

              </table>

          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <div style="text-align: center;" *ngIf="selected">
          <ion-button (click)="aceptar()" size="small" style="height: 40px;" class="ecobtn">Aceptar</ion-button>
      </div> -->

    </div>

    <form [formGroup]="myForm" #formulario="ngForm" novalidate *ngIf="!showList">

      <div>
        
        <ion-row>
          <ion-col size="12">
            <ion-label>Nombre Comercial:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="nombre_comercial"></ion-input>

            <hr>
          </ion-col>

          <ion-col size="12" *ngIf="direcciones">
            <ion-label>Provincias Disponibles:</ion-label>

            <ng-select2 
              formControlName="selecciona_provincia"
              [data]="available_provinces"
              [placeholder]="'Seleccione una provincia'"
              (ngModelChange)="modifOrigen()">
            </ng-select2>

            <!-- <ion-input class="ion-no-margin mb-2" formControlName="text_provincia" (ionFocus)="showAllProvinces()" (ionBlur)="hideProvinces()" (ionChange)="openProvinciaSelector()"></ion-input>
            
            <div *ngIf="showprovincias" style="background-color: #fff; position: absolute; z-index: 9999; color: #000; max-height: 300px; overflow: auto;">
              <ion-list>
                <ion-item lines="none" *ngFor="let p of filterprovincias" (click)="selectProvincia(p)">{{p}}</ion-item>
              </ion-list>
            </div> -->
          </ion-col>
        </ion-row>

        <ion-row *ngIf="myForm.value.centro">
          <!-- <ion-col size="12">
            <ion-label>Nombre Comercial:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="nombre_comercial"></ion-input>
          </ion-col> -->

          <ion-col size="6">
            <ion-label>Centro:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="centro"></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-label>Localidad:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="localidad"></ion-input>
          </ion-col>

          <ion-col size="12">
            <ion-label>Dirección:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="direccion"></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-label>Provincia:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="provincia"></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-label>País:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="pais"></ion-input>
          </ion-col>

          <ion-col size="12">
            <ion-label>Código NIMA:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="codNima"></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-label>Nº Inscripción RP:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="insRP"></ion-input>
          </ion-col>

          <ion-col size="6">
            <ion-label>Nº Inscripción RnP:</ion-label>
            <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="insRnP"></ion-input>
          </ion-col>
        </ion-row>

      </div>

    </form>



    
  </div>

</ion-content>

<ion-footer no-shadow no-border>
        <ion-buttons>
            <!-- <ion-button (click)="logOut()" *ngIf="!submenu" class="derecha">
                <span><ion-img src="../../assets/img/Cerrar_sesion.png"></ion-img></span>
            </ion-button> -->
            <ion-button class="derecha" (click)="adelante()">
                <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Derecha.png"></ion-img></span>
            </ion-button>
            <ion-button class="izquierda" (click)="atras()">
                <!-- <ion-icon  name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
        </ion-buttons>
        <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>