<app-header  [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">
  
    <br>

    <ion-row *ngIf="usuario">
        <ion-col size="6"
        *ngIf="(usuario?.responsabilidades | checkResp:'CSR') ||
            (usuario?.responsabilidades | checkResp:'SSR')"
        >
            <ion-button [routerLink]="['/nueva-recogida']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA RECOGIDA</ion-button>
        </ion-col>

        <ion-col size="6"
        *ngIf="(usuario?.responsabilidades | checkResp:'RED') ||
            (usuario?.responsabilidades | checkResp:'REF')">
            <ion-button [routerLink]="['/nueva-recepcion']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA RECEPCIÓN</ion-button>
        </ion-col>

        <ion-col size="6"
        *ngIf="usuario?.responsabilidades | checkResp:'REX'"
        >
            <ion-button [routerLink]="['/nueva-entrega']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">NUEVA ENTREGA</ion-button>
        </ion-col>

        <ion-col size="6"
        *ngIf="usuario?.responsabilidades | checkResp:'END'"
        >
            <ion-button [routerLink]="['/nueva-entrega-directa']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">N. ENTREGA <br> DIRECTA</ion-button>
        </ion-col>

        <ion-col size="6">
            <ion-button [routerLink]="['/consulta-stock']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">CONSULTAR STOCK</ion-button>
        </ion-col>

        <ion-col size="6" *ngIf="pesarBtn">
            <ion-button [routerLink]="['/pesar-raees']" class="ecobtn"
            size="large" style="font-size: 12px;" expand="block">PESAR RAEE</ion-button>
        </ion-col>

        <ion-col size="6">
        <!-- *ngIf="(usuario?.responsabilidades | checkResp:'CSR') ||
            (usuario?.responsabilidades | checkResp:'SSR')" -->
            <ion-button class="ecobtn" [routerLink]="['/operativas-realizadas']"
            size="large" style="font-size: 12px;" expand="block">OPERATIVAS <br> REALIZADAS</ion-button>
        </ion-col>

        <ion-col size="6"
            *ngIf="
            (usuario?.responsabilidades | checkResp:'RCR') ||
            (usuario?.responsabilidades | checkResp:'RSR') ||
            (usuario?.responsabilidades | checkResp:'RUD') ||
            (usuario?.responsabilidades | checkResp:'REU') ||
            (usuario?.responsabilidades | checkResp:'REP') ||
            (usuario?.responsabilidades | checkResp:'REN')"
        >
            <ion-button class="ecobtn" [routerLink]="['/reutilizaciones']"
            size="large" style="font-size: 12px;" expand="block">REUTILIZAR RAEE</ion-button>
        </ion-col>

        <ion-col size="6">
            <ion-button class="ecobtn" [routerLink]="['/cambio-password']"
            size="large" style="font-size: 12px;" expand="block">CAMBIAR <br> CONTRASEÑA</ion-button>
        </ion-col>
    </ion-row>

</ion-content>

<ion-footer no-shadow no-border>
        <ion-buttons>
            <ion-button (click)="logOut()" *ngIf="!submenu" class="derecha">
                <!-- <ion-icon  mode="ios" name="log-out"></ion-icon> -->
                <span><ion-img src="../../assets/img/Cerrar_sesion.png"></ion-img></span>
            </ion-button>
            <ion-button class="izquierda" (click)="navegarPadre()" *ngIf="submenu && navPadre">
                <!-- <ion-icon  name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
            <ion-button class="izquierda" (click)="navegarHijo()" *ngIf="submenu && navHijo">
                <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
        </ion-buttons>
        <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>