<app-header [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">

  <ion-grid>

      <ion-row>
        
        <ion-col>

            <ion-row>
              <ion-col size="12" *ngIf="!zebra && !isCordova">
                <ion-label class="left-label">Etiqueta</ion-label>
                <ion-input class="ion-no-margin mb-2" type="text" [(ngModel)]="etiqueta"></ion-input>

                <ion-button (click)="buscar()" style="height: 32px;" class="ecobtn">Validar</ion-button>
                <ion-button (click)="_location.back()" style="height: 32px;" class="ecobtn">Salir</ion-button>
              </ion-col>

              <ion-col size="12" *ngIf="zebra" style="text-align: center;">
                <ion-button color="warning" size="large" (touchstart)="fabDown()" (touchend)="fabUp()">
                  <ion-icon name="barcode"></ion-icon>
                </ion-button> <br>

                <ion-button (click)="_location.back()" style="height: 32px;" class="ecobtn">Salir</ion-button>
              </ion-col>

              <ion-col size="12" *ngIf="!zebra && isCordova" style="text-align: center;">
                <ion-button color="warning" size="large" (click)="prepareQrScanner()">
                  <ion-icon name="barcode"></ion-icon>
                </ion-button> <br>

                <ion-button (click)="_location.back()" style="height: 32px;" class="ecobtn">Salir</ion-button>
              </ion-col>
            </ion-row>

          </ion-col>

      </ion-row>

      <ion-row *ngIf="scans.length">
        
        <ion-col size="12"><h4>Etiquetas leídas</h4></ion-col>

        <ion-col size="12" *ngFor="let s of scans"><li style="padding-bottom: 8px">{{s}}</li></ion-col>

        <ion-button (click)="groupReads()" style="height: 32px;" class="ecobtn">Aceptar</ion-button>

      </ion-row>

  </ion-grid>


  <ion-list *ngIf="zebra" style="display: none;">
    <ion-item no-lines>
      <ion-label position="stacked" color="primary">DataWedge version:</ion-label>
      <ion-textarea rows="2" [ngClass]="{'attention' : uiDatawedgeVersionAttention}" [value]="dataWedgeVersion" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines>
      <ion-label position="stacked" color="primary">Active Profile:</ion-label>
      <ion-textarea rows="1" [value]="activeProfileText" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideCommandMessages}">
      <ion-label position="stacked" color="primary">Last API message:</ion-label>
      <ion-textarea rows="1" [value]="commandResultText" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideShowAvailableScanners}">
      <ion-label position="stacked" color="primary">Available scanners:</ion-label>
      <ion-textarea rows="7" [value]="availableScannersText"></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideSelectScanner}">
      <ion-label position="stacked" color="primary">Selected Scanner</ion-label>
      <ion-select [(ngModel)]="selectedScanner" (ionChange)="scannerSelected()" okText="Select" cancelText="Dismiss">
        <ion-select-option *ngFor="let scanner of scanners" [value]="scanner.SCANNER_NAME">{{scanner.SCANNER_NAME}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-label position="stacked" color="primary">Decoders:</ion-label>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>EAN 8</ion-label>
            <ion-checkbox [(ngModel)]="ean8Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-label>EAN 13</ion-label>
            <ion-checkbox [(ngModel)]="ean13Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Code 39</ion-label>
            <ion-checkbox [(ngModel)]="code39Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Code 128</ion-label>
            <ion-checkbox [(ngModel)]="code128Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-item-divider color="light">
      Scanned Barcodes
    </ion-item-divider>
    <ion-item no-lines *ngFor="let scan of scans">
      <ion-label position="stacked" color="primary">{{ scan.timeAtDecode }} / {{ scan.type }}</ion-label>
      <H1 item-content>{{ scan.data }}</H1>
    </ion-item> -->
  </ion-list>

</ion-content>
