<app-header  [titulo]="titulo"></app-header>

<ion-content color="medium" fullscreen="fullscreen" padding="padding">

  <form [formGroup]="myForm" #formulario="ngForm" novalidate>
    <ion-grid>

      <ion-row>
        
        <ion-col size="12">

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">Etiqueta:</ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-input class="ion-no-margin mb-2" [readonly]="true" formControlName="etiqueta"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">Fracción:</ion-label>
                <ion-select interface="action-sheet" (ionChange)="changeFraccion()" class="ion-no-margin mb-2" formControlName="fraccion">
                  <ion-select-option *ngFor="let f of fracciones" [value]="f.pidFraccion">{{f.nombre}}</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="8">
                <ion-label class="left-label">Residuo:</ion-label>
                <ion-select interface="action-sheet" (ionChange)="especificos()" class="ion-no-margin mb-2" formControlName="residuo">
                  <ion-select-option *ngFor="let r of residuos" [value]="r.pidResiduo">{{r.nombre}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">R. Específico:</ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-select interface="action-sheet" class="ion-no-margin mb-2" formControlName="residuo_especifico">
                  <ion-select-option *ngFor="let e of residuos_especificos" [value]="e.pidResiduoEspecifico">{{e.nombre}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">Marca:</ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-select interface="action-sheet" class="ion-no-margin mb-2" formControlName="marca">
                  <ion-select-option *ngFor="let m of marcas" [value]="m.PidMarca">{{m.Nombre}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">T. Contenedor:</ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-select interface="action-sheet" class="ion-no-margin mb-2" formControlName="tipo_contenedor">
                  <ion-select-option *ngFor="let c of contenedores" [value]="c.pidTipoContenedor">{{c.nombre}}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4">
                <ion-label class="left-label">Canibalizado:</ion-label>
              </ion-col>
              <ion-col size="8">
                <ion-checkbox style="position: relative; top: 8px;"
                formControlName="canibalizado"></ion-checkbox>
              </ion-col>
            </ion-row>

            <ion-radio-group formControlName="estado_raee">
              <ion-row>
                <ion-col size="6">
                  <ion-label>Reciclaje:</ion-label>
                  <ion-radio [value]="1" style="position: relative; top: 4px; margin-left: 8px;"></ion-radio>
                </ion-col>
                <ion-col size="6">
                  <ion-label>Reutilización:</ion-label>
                  <ion-radio [value]="2" style="position: relative; top: 4px; margin-left: 8px;"></ion-radio>
                </ion-col>
              </ion-row>
            </ion-radio-group>

            <br>
            <br>

            <ion-row>
              <ion-col size="2">
                <ion-label class="left-label">REF:</ion-label>
              </ion-col>
              <ion-col size="6">
                <ion-input class="ion-no-margin mb-2" [readonly]="readonly" formControlName="ref"></ion-input>
              </ion-col>

              <ion-col size="4">
                <ion-icon (click)="removeRef()" style="position: relative; height: 24px; top: 6px;" name="trash"></ion-icon>
                <ion-icon *ngIf="!zebra" (click)="openScanner()" style="position: relative; height: 24px; top: 6px;" name="scan"></ion-icon>

                <ion-icon *ngIf="zebra" (touchstart)="fabDown()" (touchend)="fabUp()" style="position: relative; height: 24px; top: 6px;" name="scan"></ion-icon>
              </ion-col>
            </ion-row>
              
        </ion-col>

      </ion-row>

      <br>

      <!-- <div *ngIf="previews.length">

          <ion-row *ngFor="let p of previews; let i = index">

            <ion-col size="6" style="text-align: left;">
              <img [src]="'data:image/jpeg;base64,'+p.path" alt="" style="border-radius: 65px; height:65px; width:65px"><br>
              
            </ion-col>
            <ion-col size="6">

              <ion-icon (click)="deleteImage(i)" style="position: relative; height: 32px; top: 14px;" name="trash"></ion-icon>

            </ion-col>
          
          </ion-row>
          

      <br>
      </div> -->

      <div *ngIf="photos.length">

          <ion-row *ngFor="let p of photos; let i = index">

            <ion-col size="6" style="text-align: left;">
              <img [src]="p.path" alt="" style="border-radius: 65px; height:65px; width:65px"><br>
              
            </ion-col>
            <ion-col size="6">

              <ion-icon (click)="deleteImage(i)" style="position: relative; height: 32px; top: 14px;" name="trash"></ion-icon>

            </ion-col>
          
          </ion-row>
          

      <br>
      </div>


      <div style="text-align: center;">
        <!-- <input id="file" capture="camera" accept="image/*" type="file" (change)="onFileChanged($event)" style="display: none;"> -->
        <label (click)="takephoto()" class="ecobtn"><ion-icon name="camera"></ion-icon></label>
      </div>


    </ion-grid>
  </form>


  <ion-list *ngIf="zebra" style="display: none;">
    <ion-item no-lines>
      <ion-label position="stacked" color="primary">DataWedge version:</ion-label>
      <ion-textarea rows="2" [ngClass]="{'attention' : uiDatawedgeVersionAttention}" [value]="dataWedgeVersion" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines>
      <ion-label position="stacked" color="primary">Active Profile:</ion-label>
      <ion-textarea rows="1" [value]="activeProfileText" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideCommandMessages}">
      <ion-label position="stacked" color="primary">Last API message:</ion-label>
      <ion-textarea rows="1" [value]="commandResultText" [readonly]=true></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideShowAvailableScanners}">
      <ion-label position="stacked" color="primary">Available scanners:</ion-label>
      <ion-textarea rows="7" [value]="availableScannersText"></ion-textarea>
    </ion-item>
    <ion-item no-lines [ngClass]="{'hide' : uiHideSelectScanner}">
      <ion-label position="stacked" color="primary">Selected Scanner</ion-label>
      <ion-select [(ngModel)]="selectedScanner" (ionChange)="scannerSelected()" okText="Select" cancelText="Dismiss">
        <ion-select-option *ngFor="let scanner of scanners" [value]="scanner.SCANNER_NAME">{{scanner.SCANNER_NAME}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-grid>
      <ion-label position="stacked" color="primary">Decoders:</ion-label>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>EAN 8</ion-label>
            <ion-checkbox [(ngModel)]="ean8Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-label>EAN 13</ion-label>
            <ion-checkbox [(ngModel)]="ean13Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Code 39</ion-label>
            <ion-checkbox [(ngModel)]="code39Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Code 128</ion-label>
            <ion-checkbox [(ngModel)]="code128Decoder" (ionChange)="setDecoders()" [disabled]="uiHideDecoders"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-item-divider color="light">
      Scanned Barcodes
    </ion-item-divider>
    <ion-item no-lines *ngFor="let scan of scans">
      <ion-label position="stacked" color="primary">{{ scan.timeAtDecode }} / {{ scan.type }}</ion-label>
      <H1 item-content>{{ scan.data }}</H1>
    </ion-item> -->
  </ion-list>

</ion-content>

<ion-footer no-shadow no-border>
        <ion-buttons>
            <!-- <ion-button (click)="logOut()" *ngIf="!submenu" class="derecha">
                <span><ion-img src="../../assets/img/Cerrar_sesion.png"></ion-img></span>
            </ion-button> -->
            <ion-button class="derecha" (click)="adelante()">
                <span><ion-img src="../../assets/img/Derecha.png"></ion-img></span>
            </ion-button>
            <ion-button class="izquierda" (click)="atras()">
                <!-- <ion-icon  name="arrow-round-back"></ion-icon> -->
                <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
            </ion-button>
        </ion-buttons>
        <label style="bottom: 9vh !important; position: relative;" (click)="saveAndBack()" class="ecobtn"><ion-icon name="save"></ion-icon></label>
        <!-- <img src="../../../assets/img/logo-ecolec.png"> -->
</ion-footer>