.marcada{
    background: grey !important;
}
.boton{
    min-width: 50%;
    max-width: 50%;
    font-size: 4vw !important;
    min-height: 6vh;
}
.filas{
    padding: 2%;
}
ion-label{
    max-width: 100% !important;
}

table {
    background-color: #fff;
    border: 1px solid #333;

    thead {
        color: #333;
        th {
            border: 1px solid #333;
            padding: 2px 8px;
            background-color: silver;
        }
    }

    tbody {
        color: #333;

        td {
            padding: 8px;
            border-right: 1px solid
        }
    }
}

.trselected {
    background-color: lightblue;
}