<app-header [titulo]="titulo"></app-header>

<ion-content padding color="medium"  fullscreen="fullscreen">

  <ion-grid *ngIf="!verDetalle">

    <ion-row *ngIf="visualizarTabla">
      <ion-col class="fila" size="12">
        <ion-grid class="tabla">
          <ion-row class="cabecera">
            <ion-col>
              UNIDAD
            </ion-col>
            <ion-col text-right>
              TIPO RESIDUO
            </ion-col>
          </ion-row>
          <ion-row class="filas" [ngClass]="{'marcada': i == detalleStock}"
            *ngFor="let item of stock;let i = index;" (click)="detalle(i,item[0].sidFraccion)">
            <ion-col>
              {{ item.length }}
            </ion-col>
            <ion-col text-right>
              {{ item[0].fraccion }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12" text-center>
        <ion-button class="boton" (click)="verDetalleEtiqueta()">Ver resumen <br> individual</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="verDetalle" style="overflow: auto;">

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-no-padding" style="background-color: #fff; min-height: 380px; overflow: auto;">

            <table style="width: 100%; text-align: left;">
                
                <thead style="font-size: 14px;">
                    <tr>
                        <th>Etiqueta</th>
                        <th>Can</th>
                        <th>R. Espécifico</th>
                        <th>Cont</th>
                    </tr>
                </thead>

                <tbody style="font-size: 10px;">
                    <tr *ngFor="let l of details">
                        <td>{{l.sidRaee}}</td>
                        <td>{{l.canibalizado ? 'S' : 'N'}}</td>
                        <td>{{l.residuoEspecifico}}</td>
                        <td>{{l.nombre}}</td>
                    </tr>
                </tbody>

            </table>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

<div text-center *ngIf="verDetalle">
  <ion-col size="12" text-center>
    <ion-button class="boton" (click)="volver()">Volver</ion-button>
  </ion-col>
</div>

</ion-content>

<ion-footer no-border>
    <ion-buttons>
      <ion-button class="izquierda" *ngIf="!verDetalle" style="padding-left: 15px;" (click)="atras()">
        <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
      </ion-button>
      <ion-button class="izquierda" *ngIf="verDetalle" style="padding-left: 15px;" (click)="verDetalle = false">
        <span><ion-img src="../../assets/img/Atras.png"></ion-img></span>
      </ion-button>
    </ion-buttons>
    <img src="../../../assets/img/logo-ecolec.png">
</ion-footer>