table {
	background-color: #fff;
	// border: 1px solid #333;

	thead {
		color: #333;
		th {
			border: 1px solid #333;
			padding: 2px 8px;
			background-color: silver;
		}
	}

	tbody {
		color: #333;

		td {
			padding: 8px;
			border-right: 1px solid
		}
	}
}

.trselected {
	background-color: lightblue;
}